
/* =================================== */
/*  Homepage Styles
/* =================================== */
.section-gap {
  padding: 120px 0;
}

.alert-msg {
  color: #008000;
}

#logo {
  padding-left: 15px;
}

#nav-menu-container {
  padding-right: 15px;
}

.primary-btn {
  background: #f8b600;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}

.primary-btn:focus {
  outline: none;
}

.primary-btn span {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.primary-btn:hover {
  color: #fff;
}

.primary-btn:hover span {
  color: #fff;
  right: 20px;
}

.primary-btn.white {
  border: 1px solid #fff;
  color: #fff;
}

.primary-btn.white span {
  color: #fff;
}

.primary-btn.white:hover {
  background: #fff;
  color: #f8b600;
}

.primary-btn.white:hover span {
  color: #f8b600;
}

.primary-btn.wh {
  background: #fff;
  color: #222;
  text-transform: uppercase;
}

.primary-btn.wh:hover {
  background: #222;
  color: #fff;
}

.primary-btn.squire {
  border-radius: 0px !important;
  border: 1px solid transparent;
}

.primary-btn.squire:hover {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.section-title {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.section-title h1 {
  margin-bottom: 10px;
}

/*-------- Start Banner Area ------------*/
.banner-area {
  background-size: cover;
}

.banner-area .overlay-bg {
  background: rgba(4, 9, 30, 0.4);
}

@media (max-width: 767px) {
  .banner-area .fullscreen {
    height: auto !important;
  }
}

.banner-left h6 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
}

.banner-left h1 {
  margin: 20px 0;
  font-size: 60px;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .banner-left h1 {
    font-size: 40px;
  }
}

@media (max-width: 413px) {
  .banner-left h1 {
    font-size: 33px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .banner-left h1 {
    font-size: 36px;
  }
  .banner-left h6 {
    font-size: 12px;
  }
}

.banner-left p {
  margin: 20px 0px;
}

.banner-left .primary-btn {
  background: #f8b600;
}

.banner-left .primary-btn:hover {
  background: #222;
  color: #fff;
}

@media (max-width: 767px) {
  .banner-left {
    margin-top: 120px;
    margin-bottom: 60px;
  }
}

.banner-right .nav-tabs {
  border-bottom: none;
}

.banner-right .nav-item {
  background: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  margin-right: 1px;
}

.banner-right .nav-item:hover a {
  border-color: transparent !important;
}

.banner-right .nav-tabs .nav-link {
  border-radius: 0 !important;
}

.banner-right .tab-content {
  background: #fff;
}

.banner-right .form-wrap {
  padding: 40px 30px;
  text-align: center;
}

.banner-right .form-wrap .form-control {
  padding: 0.675rem 0.75rem;
  font-size: 13px;
  font-weight: 300;
  border-radius: 0px;
  margin-bottom: 10px;
  border-color: #eee;
}

.banner-right .form-wrap .form-control:focus {
  box-shadow: none;
}

@media (max-width: 1024px) {
  .banner-right {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .banner-right {
    padding-bottom: 50px;
  }
}

/*-------- End Banner Area ------------*/


@media (max-width: 991px) {
  .single-destination {
    margin-bottom: 30px;
  }
}

/*-------- end Popular-destination Area ------------*/
/*-------- start price Area ------------*/
.price-area {
  background-size: cover;
}

.price-area .single-price {
  background: #fff;
  padding: 30px;
}

.price-area .single-price h4 {
  text-align: center;
  border-bottom: 1px solid #f8b600;
  padding-bottom: 20px;
}

.price-area .single-price .price-list {
  margin-top: 30px;
}

.price-area .single-price .price-list li {
  margin-bottom: 10px;
}

.price-area .single-price .price-list li .price-btn {
  background: #f9f9ff;
  border: 1px solid #eee;
  color: #222;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 20px;
}

.price-area .single-price .price-list li .price-btn:hover {
  border-color: #f8b600;
  background: #f8b600;
  color: #fff;
}

@media (max-width: 991px) {
  .price-area .single-price {
    margin-bottom: 30px;
  }
}

/*-------- end price Area ------------*/
/*-------- start other-issue Area ------------*/
.single-other-issue .thumb {
  overflow: hidden;
}

.single-other-issue .thumb img {
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-other-issue h4 {
  margin: 20px 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-other-issue:hover h4 {
  color: #f8b600;
}

.single-other-issue:hover .thumb img {
  transform: scale(1.08) rotate(-3deg);
}

/*-------- end other-issue Area ------------*/
/*--------- start testimonial area  -------------*/
.testimonial-area {
  background-color: #f9f9ff;
}

.testimonial-area .owl-dots {
  text-align: center;
  bottom: 5px;
  margin-top: 70px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.testimonial-area .owl-dot {
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(248, 182, 0, 0.2);
  margin-left: 5px;
  margin-right: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.testimonial-area .owl-dot.active {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #f8b600;
}

.single-testimonial {
  background-color: #fff;
  padding: 25px 30px 12px 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-testimonial:hover {
  cursor: pointer;
}

.single-testimonial .thumb {
  margin-right: 30px;
}

.single-testimonial h4 {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 5px;
}

.single-testimonial .star .checked {
  color: orange;
}

.single-testimonial:hover h4 {
  color: #f8b600;
  cursor: pointer;
}

/*--------- end testimonial area  -------------*/
/*--------- start home-about area  -------------*/
.home-about-area .home-about-left {
  padding-left: 20%;
}

@media (max-width: 1366px) {
  .home-about-area .home-about-left {
    padding-left: 5%;
  }
}

.home-about-area .home-about-left h1 {
  max-width: 510px;
}

@media (max-width: 1366px) {
  .home-about-area .home-about-left h1 {
    font-size: 20px;
  }
}

.home-about-area .home-about-left p {
  max-width: 500px;
  padding: 20px 0;
}

@media (max-width: 991px) {
  .home-about-area .home-about-left p {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.home-about-area .home-about-left .primary-btn {
  margin-top: 10px;
  background: #222;
  font-size: 14px;
}

.home-about-area .home-about-left .primary-btn:hover {
  background: #f8b600;
}

@media (max-width: 991px) {
  .home-about-area .home-about-left {
    padding: 100px 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }
  .home-about-area .home-about-left h1 {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }
}

.home-about-area .home-about-right img {
  width: 100%;
}

/*--------- end home-about area  -------------*/
/*--------- start recent-blog Area -------------*/
.recent-blog-area .owl-dots {
  text-align: center;
  bottom: 5px;
  margin-top: 70px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.recent-blog-area .owl-dot {
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(248, 182, 0, 0.2);
  margin-left: 5px;
  margin-right: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.recent-blog-area .owl-dot.active {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #f8b600;
}

.recent-blog-area .single-recent-blog-post .thumb {
  overflow: hidden;
}

.recent-blog-area .single-recent-blog-post .thumb img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.recent-blog-area .single-recent-blog-post .tags {
  margin: 20px 0px;
}

.recent-blog-area .single-recent-blog-post .tags li {
  display: inline-block;
  border: 1px solid #eee;
  padding: 4px 12px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.recent-blog-area .single-recent-blog-post .tags li:hover {
  background-color: #f8b600;
}

.recent-blog-area .single-recent-blog-post .tags li:hover a {
  color: #fff;
}

.recent-blog-area .single-recent-blog-post .tags li a {
  font-weight: 400;
  font-size: 12px;
  color: #222;
}

.recent-blog-area .single-recent-blog-post .title {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 20px 0;
}

.recent-blog-area .single-recent-blog-post .title:hover {
  color: #f8b600;
}

.recent-blog-area .single-recent-blog-post .date {
  color: #222;
  font-weight: 300;
}

@media (max-width: 575px) {
  .recent-blog-area .single-recent-blog-post {
    margin: 15px;
  }
}

.recent-blog-area .single-recent-blog-post:hover .thumb img {
  transform: scale(1.05);
}

/*--------- end recent-blog Area -------------*/
/*-------- Start Common Page Style   -------------*/
.link-nav {
  margin-top: 10px;
  margin-bottom: 0px;
}

.about-banner {
  background-size: cover;
}

.about-banner .overlay-bg {
  background: rgba(4, 9, 30, 0.4);
}

.about-content {
  margin-top: 70px;
}

@media (max-width: 767px) {
  .about-content {
    margin-top: 70px;
  }
}

.about-content h1 {
  font-size: 48px;
  font-weight: 600;
}

.about-content a {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}

.about-content .lnr {
  margin: 0px 10px;
  font-weight: 600;
}

/*-------- End Common Page Style   -------------*/
/* =================================== */